openapi: 3.0.3
info:
  title: Opsmantik Legacy OCI Export API
  description: |
    RETIRED. `/api/oci/export` artik canonical OCI yuzeyi degildir.
    Aktif script kontrati: `/api/oci/google-ads-export` + `/api/oci/ack` + `/api/oci/ack-failed`.
    Bu dosya sadece legacy endpoint emeklilik kaydi icin tutulur.
  version: 1.0.0-retired

servers:
  - url: https://console.opsmantik.com
    description: Production

paths:
  /api/oci/export:
    get:
      summary: Retired legacy export endpoint
      description: |
        Bu endpoint HTTP 410 Gone doner.
        Script veya OCI operator akislari icin kullanilmaz.
      responses:
        '410':
          description: Endpoint retired. Use `/api/oci/google-ads-export`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                  canonical_route:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OCI session token (POST /api/oci/v2/verify ile alınır)
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Site-scoped OCI API key (sites.oci_api_key)

  schemas:
    ExportResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          type: object
          required:
            - total_rows
            - granularity
          properties:
            total_rows:
              type: integer
              minimum: 0
            granularity:
              type: string
              enum: [conversion, call, session]
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportRow'

    ExportRow:
      oneOf:
        - $ref: '#/components/schemas/ConversionRow'
        - $ref: '#/components/schemas/CallRow'
        - $ref: '#/components/schemas/SessionRow'

    ConversionRow:
      type: object
      description: granularity=conversion
      properties:
        conversion_id:
          type: string
          format: uuid
        click_id:
          type: string
          description: gclid | wbraid | gbraid (ilk dolu)
        conversion_time:
          type: string
          format: date-time
        conversion_value:
          type: number
          format: double
        currency:
          type: string
        call_id:
          type: string
          format: uuid
        attribution:
          type: object
          properties:
            source:
              type: string
            campaign:
              type: string
            medium:
              type: string
            ads_network:
              type: string
        signals:
          type: object
          description: include_signals=true iken dolu
          properties:
            intent:
              type: string
            conversion_name:
              type: string
            value:
              type: number

    CallRow:
      type: object
      description: granularity=call
      properties:
        call_id:
          type: string
          format: uuid
        call_time:
          type: string
          format: date-time
        call_status:
          type: string
        oci_status:
          type: string
        session_id:
          type: string
          format: uuid
        attribution_source:
          type: string
        utm_source:
          type: string
        utm_medium:
          type: string
        utm_campaign:
          type: string
        proximity_seconds:
          type: number
          description: Session-call zaman farkı (saniye)

    SessionRow:
      type: object
      description: granularity=session
      properties:
        session_id:
          type: string
          format: uuid
        session_time:
          type: string
          format: date-time
        attribution_source:
          type: string
        utm_source:
          type: string
        utm_medium:
          type: string
        utm_campaign:
          type: string
        ads_network:
          type: string
